<launch>

<!-- <arg name="record_videoray" default="true" /> -->

<rosparam file="$(find syllo_map)/config/simple.yaml"/>

  <group ns="map_server_ns">
         <node pkg="map_server" name="map_server" type="map_server" output="screen" args="$(find syllo_stage)/config/cave.yaml"/>
  </group>

  <group ns="map_viewer">
         <remap from="/map" to="/map_server_ns/map"/>
         <node pkg="syllo_map" name="map_viewer" type="map_viewer" output="screen"/>         
  </group>

</launch>
